
<html>
<body>
<app-navbar></app-navbar>
<div class="start">
  <p class="start">
    <span style="color: rgb(31, 29, 66); font-size: 35px; font-weight: bold; margin-bottom: 5px;">
      Welcome to our online library
    </span>
    <br>
    <span style="color: rgb(31, 29, 66); font-size: 31px; margin-bottom: 5px;">
      Dive into a world of stories and imagination with<br>
      our collection of books where there is magic in every page.
      <br> <br>Start exploring today!
    </span>
  </p>
</div>
</body>
</html>
